@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  width: 100%;
  height: 100vh;
  background: #222222;
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  width: 80%;
  height: 90%;
  border-radius: 20px;

  box-shadow: 0 10px 25px -1px #000;
  position: relative;
}

.header::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/money_heist1.jpg') no-repeat center center;
  background-size: cover;
  display: block;
  border-radius: 20px;
  opacity: 0.7;
  z-index: -1;
}
.header::after{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000000);
  z-index: -1;
  display: block;
  border-radius: 20px;
}
.header__video{
  z-index: -1;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  video{
    position: absolute;
    top: -47.5%;
    left: -30%;
    width: 160%;
    height: 195%;
    z-index: -1;
  }
}
@media (max-width:1400px){
  .header__video{
    video{
      top: -52.5%;
    width: 179%;
    height: 200%;
    }
  }
}
@media (max-width:1160px){
  .header__video{
    video{
      left: -80%;
    top: -88%;
    width: 270%;
    height: 300%;
    }
  }
}
@media (max-width:1000px){
  .header__video{
    video{
    left: -94%;
    top: -103%;
    width: 301%;
    height: 321%;
  }
  }
}
@media (max-width:832px){
  .header__video{
    video{
      top: -114%;
  }
  }
}
@media (max-width:744px){
  .header__video{
    video{
      left: -105%;
      top: -111%;
      width: 350%;
      height: 327%;
    }
  }
}
@media (max-width:580px){
  .header__video{
    display: none;
  }
}
@media (max-width:950px) and (max-height: 1370px){
  .header__video{
    display: none;
  }
}
.navigation {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.navigation__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: calc(20px + 1vw);

}
.navigation__logo-text {
  font-size: calc(1em + 1vw);
  color: #fff;
  font-weight: 500;
  margin-right: calc(2px + 1vw);
}
.navigation__logo-img {
  width: calc(20px + 1vw);
  height: calc(20px + 1vw);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .9;
  img{
    object-fit: cover;
    width: 180%;
  }
}
.navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;

  li:last-child{
    margin-right: 0;
  }
}
@media (max-width:800px){
  .navigation__menu{
    display: none;
  }
}
.navigation__item {
  margin-right: calc(1px + 3vw);

}
.navigation__link {
  font-size: calc(6px + 1vw);
  color: #fff;
  transition: all ease 0.3s;
  &:hover{
    color: #c0c0c0d0;
    
  }
}
.navigation__search{
  margin-right: calc(20px + 1vw);
  position: relative;
}
.navigation__search input {
  border-radius: 20px;
  padding: 5px 10px;
  background: #ffffff5d;
  color: #fff;

  transition: all ease 0.3s;
  &:hover{
    background: #98989851;
  }
}
@media (max-width:900px){
  .navigation__search input{
    padding: 2px 10px;
    border-radius: 10px;
    max-width: 130px;
  }
}
.navigation__search input::placeholder {
  color: #fff;
}
.navigation__search-result {
  position: absolute;
  right: 0;
  top: 45px;
  width: 300px;
  height: 270px;
  z-index: 10;
  overflow-y: auto;
  display: none;
  // opacity: 0;
  &::-webkit-scrollbar{
    width: 5px;
    background: #ffffff52;
    visibility: hidden;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb{
    width: 5px;
    background: #ffffff96;
    visibility: hidden;
    border-radius: 5px;
  }
  &:hover::-webkit-scrollbar{
    visibility: visible;
  }
  &:hover::-webkit-scrollbar-thumb{
    visibility: visible;
  }
}
@media (max-width:434px){
  .navigation__search-result{
    width: 220px;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
.navigation__search-result-card {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px 0;
  img{
    width: 28px;
    height: 90%;
    margin-left: 8px;
    border-radius: 2px;
  }
}

.navigation__search-result-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff16;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  z-index: -1;
}
.card__description {
  margin-left: 10px;
  color: #fff;
}
.card__title {
  font-size: 15px;
  line-height: 25px;
  margin-top: -4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
  font-weight: 600;
}
@media (max-width:434px){
  .card__title{
    font-size: 13px;
    line-height: 20px;
  }
}
.card__text {
  font-size: 12px;
  color: #ffffffbc;
  span{
    background: yellow;
    color: #000;
    padding: 0 3px;
    margin: 0 5px 0 10px;
    font-weight: 500;
  }
}
@media (max-width:434px){
  .card__text{
    font-size: 11px;
    span{
      padding: 0 1px;
    }
    .bi-star-fill{
      display: none;
    }
  }
}
.bi-star-fill{}
@media (max-width:434px){}
.header__content {
  position: relative;
  color: #fff;
  margin-top: 100px;
  padding-left: 50px;
}
@media (max-width:900px){
  .header__content{
    margin-top: 50px;
  }
}
@media (max-width:500px){
  .header__content{
    padding-left: 30px;
  }
}
.header__content-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width:1000px){
  .header__content-title{
font-size: 30px;
margin-bottom: 10px;
  }
}
@media (max-width:500px){
  .header__content-title{
font-size: 25px;

  }
}
.header__content-text {
  font-size: 14px;
  line-height: 18px;
  width: 350px;
  word-break: break-word;
  margin-bottom: 15px;
}
@media (max-width:1000px){
  .header__content-text{
font-size: 13px;
line-height: 17px;
margin-bottom: 10px;
max-width: 280px;
  }
}
@media (max-width:500px){
  .header__content-text{
max-width: 235px;
  }
}
.header__content-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  h6{
    color: rgba(255, 255, 255, 0.801);
    font-size: 12px;
    margin-right: 10px;
  }
  h5{
    color: rgb(142, 230, 48);
    font-size: 12px;
    margin-right: 10px;
  }
  h4{
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-right: 10px;
  }
  h3{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  span{
    background: yellow;
    color: #000;
    padding: 0 3px;
    margin: 0 5px 0 5px;
    font-weight: 500;
  }
  i{
    margin-right: 5px;
  }
}
@media (max-width:500px){
  .header__content-details{
    display: block;
    h6{
      display: inline-block;
    }
    h5{
      display: inline-block;
    }
    h4{
      display: inline-block;
    }
    h3{
      margin-top: 9px;
    }
    span{
      margin-left: 0;
    }
  }
}

.header__content-btns {
  margin-right: 5px;
  display: flex;
  // align-items: center;
  button:first-child{
    width: 90px;
  }
  button:last-child{
    width: 40px;
  }
}
.button {
  position: relative;
  padding: 8px 0px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(90deg, #00bdff, #0079ff);
  background-repeat: 5px;
  color: #fff;
  margin-left: 10px;
  border-radius: 5px;
  overflow: hidden;
  span{
   
  }
  .bi{
    margin-right: 0;
    &::before{
      vertical-align: -0.185em;
    }
  }

  &:hover{
    background: linear-gradient(90deg, #0090c5, #0059bf);
  }
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    background: rgba(220, 193, 245, 0.699);
    // z-index: -5;
    transform: skewX(45deg) scaleX(0.4);
    transition: left 500ms linear;
  }
  &:hover::before{
    left: 112%;
  }
}
@media (max-width:580px){
  .button{
    display: none;
  }
}

// ---------------------------popular section

.popular {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0 50px;
  bottom: 20px;
  color: #fff;
}
@media (max-width:500px){
  .popular{
    padding: 30px;
  }
}
@media (max-width:1100px){
  .popular{
    padding-right: calc(20px + 1vw);
  }
}
.popular__title {
  font-size: 17px;
  font-weight: 500;
}
.popular__items {
  position: relative;
  width: 100%;
  height: 200px;
  scroll-behavior: smooth;
  margin-top: 10px;
  padding-right: 160px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  &::-webkit-scrollbar{
    display: none;
  }

}

.popular__item{
  cursor: pointer;
  position: relative;
  min-width: 130px;
  height: 180px;
  border-radius: 8px;
  margin-right: 10px;
  background: #000;
  transition: 0.6s ease;
  &:hover{
    .popular__rest{
      opacity: 1;
    }
  }
}
.popular__item{
  &:hover{
  min-width: 300px;
  overflow: hidden;
  .popular__content{
    opacity: 1;
  }
  
  }
}
.popular__img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

.popular__rest {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.4s ease;
  img{
    position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
  }
  &::after{
    content: '';
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    left: 0;
    bottom: 0;

    z-index: 1;
  }
}

.popular__content {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  color: #fff;
  padding: 0 20px;
  z-index: 10;
  opacity: 0;
  transition-delay: 0.2s;

}
.popular__content-title {
font-size: 17px;
font-weight: 600;
margin-bottom: 5px;


}
.popular__content-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.popular__content-text {
  font-size: 14px;
  font-weight: 300;
  color: #ffffffbd;
}
.popular__content-subtitle {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  span{
    background: yellow;
    color: #000;
    padding: 0 3px;
    margin: 0 6px 0 10px;
    font-weight: 500;
    border-radius: 2px;

  }
}
.bi {
  margin-right: 4px;
}
.bi-star-fill {
}

.bi {
}
.bi-chevron-left , .bi-chevron-right {
position: absolute;
top: 50%;
left: 3%;
width: 25px;
height: 25px;
background: #ffffff5c;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
font-style: 12px;
cursor: pointer;
transition: 0.3s ease;
z-index: 15;
opacity: 0;
}
.bi-chevron-right {
  left: unset;
  right: 3%;
}
@media (max-width:1100px){
  .bi-chevron-right{
    display: none;
  }
  .bi-chevron-left{
    display: none;
  }
}
.popular{
  &:hover{
    .bi-chevron-left{
      opacity: 1;
    }
    .bi-chevron-right{
      opacity: 1;
    }
  }
}
